RewriteEngine On
RewriteBase /sandrine_iot_assignment_version_2/
RewriteRule ^index\.php＄ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /sandrine_iot_assignment_version_2/index.php [L]